<div class="hero-transition">
  <div class="about-container" data-aos="fade-left">
    <div class="about-text">
      <h2>Sobre mí</h2>
      <p>
        Soy un desarrollador web Full Stack con experiencia en <strong>PHP</strong> y el framework <strong>Symfony</strong>, así como en <strong>JavaScript</strong> con <strong>Angular</strong>. Me especializo en crear aplicaciones web completas, desde el backend hasta interfaces modernas y funcionales.
        </p>
        <p>
        También tengo conocimientos en <strong>Node.js</strong>, bases de datos como <strong>MySQL</strong> y <strong>MariaDB</strong>, y uso de <strong>Git</strong> para el control de versiones y trabajo en equipo.
        </p>
        <p>
        Me gusta construir soluciones limpias, eficientes y centradas en el usuario, siempre buscando mejorar tanto el producto como el proceso de desarrollo.
        </p>
  

    </div>
    <div class="timeline" data-aos="fade-right">
        <h1>Experiencia</h1>
      <div class="timeline-item">
        <div class="timeline-dot"></div>
        <div class="timeline-content">
          <h3>Desarrollador Web En Practicas - Metric Salad</h3>
          <p>2025</p>
        </div>
      </div>
      <div class="timeline-item">
        <div class="timeline-dot"></div>
        <div class="timeline-content">
          <h3>Tecnico Informatico - Ayto. Picassent</h3>
          <p>2023</p>
        </div>
      </div>
    </div>
  </div>
</div>
<app-slider></app-slider>
