<div class="hero-container">
  <div class="hero-text">
    <h2 class="typing">Full Stack Web Developer &lt;/&gt;</h2>
    <h1>Darío López</h1>
    <p>Con experiencia en el desarrollo de aplicaciones web completas, desde la arquitectura del backend hasta interfaces intuitivas en el frontend.</p>

    <div class="icon-buttons">
      <a href="https://www.linkedin.com/in/dar%C3%ADo-l%C3%B3pez-garrido-7b835530a/" target="_blank" rel="noopener" class="icon-btn" aria-label="LinkedIn">
        <i class="fab fa-linkedin fa-3x"></i>
      </a>
      <a href="https://github.com/dariolopez05" target="_blank" rel="noopener" class="icon-btn" aria-label="GitHub">
        <i class="fab fa-github fa-3x"></i>
      </a>
      <a href="/assets/DarioLopezCV.pdf" download class="icon-btn" aria-label="Descargar CV">
        <i class="fas fa-file-download fa-3x"></i>
      </a>
    </div>
  </div>

  <div class="scroll-down" (click)="scrollToNextSection()">
    <i class="fas fa-chevron-down"></i>
  </div>
</div>
