.slider {
    overflow: hidden;
    padding: 60px 0;
    white-space: nowrap;
    background: #272727;
    backdrop-filter: blur(3.3px);
    -webkit-backdrop-filter: blur(3.3px);
    position: relative;
}

.slider:hover .logos-container{
    animation-play-state: paused;
}

.slider:before,
.slider:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
}

.slider:before {
    left: 0;
    background: linear-gradient(to left, transparent, #272727);
}

.slider:after {
    right: 0;
    background: linear-gradient(to right, transparent, #272727);
}

.logos-container {
    animation: 15s slide infinite linear;
    display: inline-block;
}

.logos-container img{
    height: 100px;
    margin: 0 40px;
}

@keyframes slide {
    from {
        transform: translateX(0);
    } to{
        transform: translateX(-100%);
    }
}

@media screen and (max-width: 768px) {
    .logos-container img{
        height: 60px;
        margin: 0 20px;
    }
    h1 {
        font-size: 2rem;
    }

    .slider:before,
    .slider:after {
        position: absolute;
        top: 0;
        width: 100px;
        height: 100%;
        content: "";
        z-index: 2;
    }
}