<div class="projects-container">
    <h1 class="title">Proyectos Destacados:</h1>
    <div class="project-card">
        <div class="project-inner">
            <img src="assets/goevent.PNG" alt="Proyecto" class="project-image" />
            <div class="project-content">
            <h3 class="project-title">GoEvent</h3>
            <p class="project-description">
                GoEvent es una plataforma diseñada para facilitar la búsqueda de eventos en una sola web. Ofrece a los usuarios una forma centralizada e intuitiva de descubrir actividades según sus intereses y ubicación.
            </p>

            
            <div class="tech-stack">
                <span class="tech">Angular</span>
                <span class="tech">Symfony</span>
            </div>
            
            <div class="project-buttons">
                <a class="btn github-link" href="https://github.com/dariolopez05/GoEvent-front" target="_blank">
                GitHub
                </a>
                <a class="btn live-link" href="https://www.goeventweb.com/home" target="_blank">
                Ver Página
                </a>
            </div>
        </div>
    </div>
</div>
<div class="project-card">
        <div class="project-inner">
            <img src="assets/api.PNG" alt="Proyecto" class="project-image" />
            <div class="project-content">
            <h3 class="project-title">GoEvent-API</h3>
            <p class="project-description">
                GoEvent es una plataforma diseñada para facilitar la búsqueda de eventos en una sola web. Ofrece a los usuarios una forma centralizada e intuitiva de descubrir actividades según sus intereses y ubicación.
            </p>

            
            <div class="tech-stack">
                <span class="tech">PHP</span>
                <span class="tech">Symfony</span>
                <span class="tech">Mysql</span>
            </div>
            
            <div class="project-buttons">
                <a class="btn github-link" href="https://github.com/dariolopez05/GoEvent-back" target="_blank">
                GitHub
                </a>
            </div>
        </div>
    </div>
    
</div>